@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-lg-4">
        <div id="cf">
            <img class="img1" src="~/img/CircuitMinimal90_transp.png" />
            <img class="img2" src="~/img/CircuitPartial90_transp.png" />
            <img class="img3" src="~/img/CircuitFull90_transp.png" />
            <img class="img4" src="~/img/CircuitFinal_transp.png" />
        </div>
    </div>
</div>

<!--
<div class="jumbotron">
    <h1>Chucken shit bullshit </h1>
    <p class="lead">Get it get it good</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-content">
                <h3><u>Words of Wisdom</u></h3>
                <p>
                    Quotes that help me get through the day <br /><br />
                    Check out my self help & tutorial videos as I progress, so can you! <br /><br />
                    Some other shit <br /><br />
                    <a class="btn btn-default" href="">W. O. W. </a>
                </p>
            </div>
            <img src="~/img/AngryCerealGuy.png" />
        </div>
        <div class="item">
            <div class="carousel-content">
                <h3><u>Complaints</u></h3>
                <p>
                    This months biggest load of bullshit <br /><br />
                    F@ck this, F@ck that! <br /><br />
                    Help!  My coworkers are useless <br /><br />
                    <a class="btn btn-default" href="">A little RnR</a>
                </p>
            </div>
            <img src="~/img/Wojak.png" />
        </div>
        <div class="item">
            <div class="carousel-content">
                <h3><u>Making cheddar</u></h3>
                <p>
                    Investment strategies and more! <br /><br />
                    Why I gambled and lost <br /><br />
                    Poppin' boners <br /><br />
                    <a class="btn btn-default" href="">Ka - ching!</a>
                </p>
            </div>
            <img src="~/img/pepe.png" />
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span> 
            <span class="sr-only">Back</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center">Why are you here?</h1>
        <p>
            Why are we all here?  What is the internet made of?  Who exactly would be browsing this page at this hour in the night?  
            These are all great questions.  Simply put - I don't have any clue.  Perhaps you have a desire to read a thing or two, listen 
            about someone elses' problems, or are just looking to get a leg up just enough to piss on someone elses flowers.  I decided one day
            that enough is enough with just sitting and vegging out after work.  Time to get real. Time to make something.  Time to hone my skills
            or blow off some steam while I vent.  My intentions are pure and while it might seem harsh, keep in mind I write all this with
            utmost humor or cynicism in mind.  Guess you have to know me to know my humor.  Enjoy the inner workings of my mind and don't mind my filthy
            mouth cause I use fuck a lot when I am angry.
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Latest Progress on Web Development</h2>
        <p>
            Started with a basic blank webpage and have moved to MVC.  Check out my latest hurdles or neat tricks
            that I have figured out along the way.  It might not be right in a professional sense, but it worked 
            on my computer!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Get Some!</a></p>
    </div>
    <div class="col-md-4">
        <h2>How To's or How to Not</h2>
        <p>
            How I made a simple windows application with VS 2017
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Making Money or losing Money?</h2>
        <p>
            I invested in the stock market and my stocks took a big dump on my face.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Keep things consistent</h2>
        <p>That is what I do</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Gym Time</h2>
        <p>You get out what you put in and you put in what you get out.  Wait, what?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>