@{
    ViewBag.Title = "Stats";
}

<script type="text/javascript">
    function chest_hover() {
        element = document.getElementById("BodyImage");
        element.setAttribute('src', '../../img/body_edits_chest.jpg');
    }
    function leg_hover() {
        element = document.getElementById("BodyImage");
        element.setAttribute('src', '../../img/body_edits_leg.jpg');
    }
    function back_hover() {
        element = document.getElementById("BodyImage");
        element.setAttribute('src', '../../img/body_edits_back.jpg');
    }
    function shldr_hover() {
        element = document.getElementById("BodyImage");
        element.setAttribute('src', '../../img/body_edits_shldr.jpg');
    }
    function unhover() {
        element = document.getElementById("BodyImage");
        element.setAttribute('src', '../../img/body_edits.jpg');
    }
</script>

<div class="row">
    <div class="col-md-4">
        <div class="row" id="stat">
            <h2>Statistics</h2>
            <p>Height: 5'10"</p>
            <p>Weight: 195 lbs</p>
            <p>Race: White</p>
            <p>Sex: Everyday</p>
            <p>BMI: Overweight</p>
            <hr />
        </div>
        <div class="row" id="stat-int">
            <h2>Intellect</h2>
            <p>Languages Practiced: Spanish</p>
            <p>Current Read: Black Company, She is the Darkness</p>
            <p>Brain Stuff: etc etc.</p>
            <hr />
        </div>
        <div class="row" id="stat-str">
            <h2>Strength</h2>
            <p onmouseover="chest_hover();" onmouseout="unhover();">
                Bench: 225 lbs
            </p>
            <p onmouseover="leg_hover();" onmouseout="unhover();">
                Squat: 295 lbs
            </p>
            <p onmouseover="back_hover();" onmouseout="unhover();">
                Deadlift: 225 lbs
            </p>
            <p onmouseover="shldr_hover();" onmouseout="unhover();">
                Overhead Press: 135 lbs
            </p>
            <hr />
        </div>
        <div class="row" id="stat-card">
            <h2>Cardio</h2>
            <p>Swimming</p>
            <hr />
        </div>
        <div class="row" id="stat-aff">
            <h2>Afflictions</h2>
            <p>Poor vision</p>
            <p>Viral Meningitis</p>
            <p>Forgetful</p>
        </div>
    </div>
    <div class="col-md-6">
        <!--Temp pic, replace with body, highlight brain, muscle on hover-->
        <img id="BodyImage" class="img-sticky" src="~/img/body_edits.jpg" />
    </div>
</div>