body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-stretch: ultra-expanded;
    font-size: 18px;
    background-image: url('../img/bkgCircuit_20opacity.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    small, .small {
    font-weight: normal;
    line-height: 1;
                  }
}

.navbar-brand {
    float: left;
    font-size: 25px;
}

.img-body {
    width: 100%;
    height: auto;
    display: inline-block;
}

.img-sticky {
    margin-top: 100px;
    position: fixed;
    top: 0;
    border: 2px solid black;
}

.img-p-hover {
    visibility: hidden;
}

#stat:hover, #stat-int:hover, #stat-str:hover, #stat-card:hover, #stat-aff:hover {
    opacity: 1;
}

p:hover {
    color: white;
    background-color: #31708f;
}

#stat, #stat-int, #stat-str, #stat-card, #stat-aff {
    opacity: .5;
}