<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred or I done goofed up.  Place the blame on me and try again!</h2>
    </hgroup>
</body>
</html>
